<div class="text-center mt-5">
  <div>
    <div class="box-root flex-flex">
      <div class="loginbackground">
        <div class="loginbackground-gridContainer">
          <div
            class="box-root flex-flex"
            style="grid-area: 4 / 2 / auto / 5"
          ></div>
          <div
            class="box-root flex-flex"
            style="grid-area: 6 / start / auto / 2"
          >
            <div
              class="box-root box-background--blue800"
              style="flex-grow: 1"
            ></div>
          </div>
          <div
            class="box-root flex-flex"
            style="grid-area: 7 / start / auto / 4"
          >
            <div
              class="box-root box-background--blue animationLeftRight"
              style="flex-grow: 1"
            ></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6">
            <div
              class="box-root box-background--gray100 animationLeftRight tans3s"
              style="flex-grow: 1"
            ></div>
          </div>
          <div
            class="box-root flex-flex"
            style="grid-area: 2 / 15 / auto / end"
          >
            <div
              class="box-root box-background--cyan200 animationRightLeft tans4s"
              style="flex-grow: 1"
            ></div>
          </div>
          <div
            class="box-root flex-flex"
            style="grid-area: 3 / 14 / auto / end"
          >
            <div
              class="box-root box-background--blue animationRightLeft"
              style="flex-grow: 1"
            ></div>
          </div>
        </div>
      </div>
      <div
        class="box-root padding-top--24 flex-flex flex-direction--column"
        style="flex-grow: 1; z-index: 9"
      >
        <div class="box-root flex-flex flex-justifyContent--center">
          <h1>
            <a href="/" rel="dofollow">Book Store</a>
          </h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <br />
            <button
              routerLink="/"
              style="color: white; padding: 5px"
              class="btn btn-primary"
            >
              Go to home
            </button>
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Add a book to the Store</span>
              <form (ngSubmit)="onSubmit()" id="stripe-login">
                <div class="field padding-bottom--24">
                  <label for="title">Title</label>
                  <input [(ngModel)]="book.title" type="text" name="title" />
                </div>
                <div class="field padding-bottom--24">
                  <label for="author">Author</label>
                  <input [(ngModel)]="book.author" type="text" name="author" />
                </div>
                <div class="field padding-bottom--24">
                  <label for="isbn">ISBN</label>
                  <input [(ngModel)]="book.isbn" type="text" name="isbn" />
                </div>
                <div class="field padding-bottom--24">
                  <label for="year">Year</label>
                  <input
                    [(ngModel)]="book.yearofpub"
                    type="number"
                    name="year"
                  />
                </div>
                <div class="field padding-bottom--24">
                  <label for="category">Category</label>
                  <input
                    [(ngModel)]="book.category"
                    type="category"
                    name="category"
                  />
                </div>
                <div class="field padding-bottom--24">
                  <label for="descreption">Descreption</label>
                  <input
                    [(ngModel)]="book.descreption"
                    type="descreption"
                    name="descreption"
                  />
                </div>

                <div class="field padding-bottom--24">
                  <input
                    style="color: black"
                    type="submit"
                    name="submit"
                    value="Add Book"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
